services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: exchange_db
    volumes:
      - pgdata:/home/postgres/pgdata/data

volumes:
  pgdata:
