@import 'tailwindcss';

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  overflow: hidden;
  height: 100%;
}
